/* Global Styles First */
/* This example will use Desktop First Styling
Desktop First = default styles are written for desktop/
media queries will go from large to smaller screens */

* {
    box-sizing: border-box;
    /* if box dimension is certain color (the inner ones) */
    /* this is one of the most important, since it's not default? */
}

/* border box means dimension you put for width or heigh
includes the padding and the border

content box means the width and height apply to the context box only: only
and border and padding widths will add to the width and height*/

/* #box_sizer {
    width: 200px;
    height: 200px;
    border: 10px solid green;
    padding: 20px
    background-color: rgba(0, 0, 200, 0.3);
} */

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.thumb {
    width: 25%;
}