/* We always load our fonts and css variables */
/* Then declare the most generic and global sytles first */

html,
body{
    margin: 0;
}
/* Generic styles so that we can see our div delemetns and how they nest */
div, 
header {
    /* Border shorthand - assign 3 values at once:width:
    border-width border-style border-color */
    border: 1px solid red;
    padding: 50px
}

/* Absolue positioned elements without a positioned ancestor will be positioned in relationship to the entire browser window */

.abs-no-parent {
    background-color: cornflowerblue;
    position: absolute; 
    /* going to render like it's out of the page, out of the order list */
    top: 20%;
    right: 100px;
    /* this is all relative to where it was going to render originally */
}

.rel-parent {
    background-color: blueviolet;
    width: 50%;
    /* height positions don't exactly work as you'd think. Unless theres a parent element with a set height (in pixels or rem)  */
    height: 200vh; 
    /* vh: veiwport height, or else it doesn't know what to change */
    /* whenever you want to position something absolutely inside of another element, the parent element you are positioning needs to be position relative. */
    position: relative;
    /* nothing changes but the z index and makes the purple go above the blue part */
}

.abs-rel-parent {
    background-color: rgb(12, 237, 16);
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 100px;
    right: 0;
}

header {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: coral;
    z-index: 10;
}

/* Every element is doing their own thing and not caring about the other ones, all ignoring the DOM rules */

